################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/C#单例设计模式/.vs/InstanceExample/v15/Server/sqlite3
